# Python
backend/venv/
backend/__pycache__/
backend/uploads/

# Environment
backend/.env

# Node
frontend/node_modules/

# Vite
frontend/dist/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log